@inject NavigationManager _navigationManager

<MudDialog>
    <DialogContent>
        <p><b>Project Name:</b> Xussiness</p>
        <p><b>Edition:</b> Professional</p>
        <p><b>Version:</b> 1.0</p>
        <p><b>Release Date:</b> August 10th 2022</p>
        <p><b>Created by:</b> Deniz K. Acikbas</p>
        <p><b>Technologies:</b></p>
        <MudChip Variant="Variant.Text">C#</MudChip>
        <MudChip Variant="Variant.Text">Microsoft SQL Server</MudChip>
        <MudChip Variant="Variant.Text">Entity Framework Core</MudChip>
        <MudChip Variant="Variant.Text">MudBlazor</MudChip>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Error" OnClick="SourceCode">Download Source Code</MudButton>
            <MudButton Color="Color.Error" OnClick="Submit">Ok</MudButton>
            </DialogActions>
    </MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

    private void SourceCode()
    {
        _navigationManager.NavigateTo("https://github.com/denizkarya1999");
    }
}
